@{
    ViewBag.Title = "Email Sent";
}


<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title </title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>