@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {

        @Html.ActionLink("Register", "Register", "Account", null, new { @title = "Register", @class = "ui-btn-icon-notext ui-btn-corner-all ui-btn ui-icon-edit ui-btn-icon-notext ui-shadow", @alt = "Sign up" })

        @Html.ActionLink("Log in", "Login", "Account", null, new { @title = "Login", @class = "ui-btn-icon-notext ui-btn-corner-all ui-btn ui-icon-lock ui-btn-icon-notext ui-shadow", @alt = "Login" })

}
